/* Logo */
.logo {
  position: relative;
}

.logo:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}




/* No account prompt */
.no-account {
  color: #3b3b3b;
  text-align: center;
}




/* Others */
.modal-header {
  background-color: #f4c8cf;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  
}

.modal-content {
  border-radius: 7.5px;
  border: 0px;
}

.spacer{
  opacity:0;
}